{% extends 'base.html.twig' %}

{% block title %}User list{% endblock %}

{% block content %}
    <h2>User list</h2>
    <div class="my-1">
        <span class="text-secondary">Click on a line to edit user</span>
        <span class="float-end"><a href="/user/create" class="btn btn-outline-primary btn">Add new user</a></span>
    </div>
    <div id="alert" class="alert alert-danger alert-dismissible" style="display: none;" role="alert"></div>
    <table class="table table-striped table-hover table-bordered">
        <caption>List of user</caption>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col" class="d-none d-sm-table-cell">Creation date</th>
            <th scope="col" class="d-none d-sm-table-cell">Last connection</th>
        </tr>
        <tbody id="userList"></tbody>
    </table>

    <!-- Modal (https://getbootstrap.com/docs/4.0/components/modal/) -->
    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="modalForm" onsubmit="return saveChanges();">
                    <input id="userId" name="userId" type="hidden" value=""/>
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div id="modalAlert" class="alert alert-danger alert-dismissible" style="display: none;" role="alert"></div>
                    <div class="modal-body">
                        <table class="table table-striped table-hover table-bordered">
                            <caption>User profile</caption>
                            <tr>
                                <td><b>First name</b></td>
                                <td><input id="firstName" name="firstName" type="text" value=""/></td>
                            </tr>
                            <tr>
                                <td><b>Last name</b></td>
                                <td><input id="lastName" name="lastName" type="text" value=""/></td>
                            </tr>
                            <tr>
                                <td><b>Email</b></td>
                                <td><input id="email" name="email" type="email" value=""/></td>
                            </tr>
                        </table>
                        <table class="table table-striped table-hover table-bordered">
                            <caption>Onboarding tasks</caption>
                            <tr>
                                <th></th>
                                <th><b>Is done ?</b></th>
                            </tr>
                            <tr>
                                <td>Microsoft Office license</td>
                                <td><input id="dynamicFields_MOL" type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Email access granted</td>
                                <td><input id="dynamicFields_EAG" type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Git repository granted</td>
                                <td><input id="dynamicFields_GRG" type="checkbox" /></td>
                            </tr>
                            <tr>
                                <td>Jira access granted</td>
                                <td><input id="dynamicFields_JAG" type="checkbox" /></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $( document ).ready(function() {

            refreshUserList = function(){
                $.ajax({
                    url: "/userAPI/list/",
                    async: true,
                    type: 'GET',

                    success: function(data) {
                        $('#userList').html('');

                        data.users.forEach((user) => {
                            $('#userList').append("\n\
                                <tr class=\"userRow\" scope=\"row\" data-userId=\""+ user.id +"\">\n\
                                    <td>"+user.firstName+"</td>\n\
                                    <td>"+user.lastName+"</td>\n\
                                    <td>"+user.email+"</td>\n\
                                    <td class=\"d-none d-sm-table-cell\">"+user.creationDate+"</td>\n\
                                    <td class=\"d-none d-sm-table-cell\">"+user.lastLogin+"</td>\n\
                                </tr>\n\
                            ");

                            $('tr.userRow').bind('click', openModal);
                        });
                    },
                    error: function (){
                        $('#alert').text('Error: Could not load list of users');
                        $('#alert').fadeIn();
                    }
                });
            };

            openModal = function(e) {
                let userId = $(e.currentTarget).attr('data-userId');

                $.ajax({
                    url: "/userAPI/get/"+userId,
                    async: true,
                    type: 'GET',

                    success: function(data) {
                        let user = data.user;

                        $('#modalTitle').text('Edit user ' + user.email);
                        $('#modalForm #userId').val(user.id);
                        $('#modalForm #firstName').val(user.firstName);
                        $('#modalForm #lastName').val(user.lastName);
                        $('#modalForm #email').val(user.email);

                        if(user.dynamicFields !== null){
                            $('#modalForm #dynamicFields_MOL').prop("checked", (typeof user.dynamicFields.MOL !== 'undefined') ? user.dynamicFields.MOL : false);
                            $('#modalForm #dynamicFields_EAG').prop("checked", (typeof user.dynamicFields.EAG !== 'undefined') ? user.dynamicFields.EAG : false);
                            $('#modalForm #dynamicFields_GRG').prop("checked", (typeof user.dynamicFields.GRG !== 'undefined') ? user.dynamicFields.GRG : false);
                            $('#modalForm #dynamicFields_JAG').prop("checked", (typeof user.dynamicFields.JAG !== 'undefined') ? user.dynamicFields.JAG : false);
                        } else {
                            $('#modalForm #dynamicFields_MOL').prop("checked", false);
                            $('#modalForm #dynamicFields_EAG').prop("checked", false);
                            $('#modalForm #dynamicFields_GRG').prop("checked", false);
                            $('#modalForm #dynamicFields_JAG').prop("checked", false);
                        }
                        $('#modalCenter').modal('show');
                    },
                    error: function (xhr){
                        let data = xhr.responseJSON;
                        $('#alert').text('Error: ' + data);
                        $('#alert').fadeIn();
                        setTimeout(()=>{
                            $('#alert').text('');
                            $('#alert').fadeOut();
                        }, 3000);
                    }
                });
            };

            saveChanges = function() {
                let userId = $('#modalForm #userId').val();

                var data = {
                    'firstName' : $('#modalForm #firstName').val(),
                    'lastName' : $('#modalForm #lastName').val(),
                    'email' : $('#modalForm #email').val(),
                    'dynamicFields' : {
                        'MOL' : $('#modalForm #dynamicFields_MOL').prop("checked"),
                        'EAG' : $('#modalForm #dynamicFields_EAG').prop("checked"),
                        'GRG' : $('#modalForm #dynamicFields_GRG').prop("checked"),
                        'JAG' : $('#modalForm #dynamicFields_JAG').prop("checked")
                    }
                };

                $.ajax({
                    url: "/userAPI/post/"+userId,
                    async: true,
                    data: data,
                    type: 'POST',

                    success: function() {
                        $('#modalCenter').modal('hide');
                        refreshUserList();
                    },
                    error: function (xhr){
                        let data = xhr.responseJSON;
                        $('#modalAlert').text('Error: ' + data);
                        $('#modalAlert').fadeIn();
                        setTimeout(()=>{
                            $('#modalAlert').text('');
                            $('#modalAlert').fadeOut();
                        }, 3000);
                    }
                });

                return false;
            };

            refreshUserList();
        });
    </script>
{% endblock %}

